<div class="forms">
<%= form_with(model: @task, local: true) do |form| %>
<br>
  <div class="name">
    <%= form.label :"件名 (最大16文字)" %>
    <%= form.text_field :name, class: "name-input" %>
  </div>

    <div class="start_date">
    <%= form.label :開始 %>
    <%= form.date_select :start_date, class: "start-date-select" %>
  </div>

  <div class="end_date">
    <%= form.label :終了 %>
   <%= form.date_select :end_date, class: "end-date-select" %>
  </div>

  <div class="memo">
  <%= form.label :メモ %>
  <%= form.text_field :memo, class: "memo-field" %>
</div>
<div class="field">
  <%= form.label :color, "色" %>
  <%= form.select :color, options_for_select([
    ['灰', '#a5a5a5'],
    ['青', '#c0acff'],
    ['赤', '#ffacac'],
    ['黄', '#edff86'],
    ['オレンジ', '#ff7950'],
    ['紫', '#b249b9'],

  ], @task.color), {}, { class: "color-select" } %>
</div>
<br>

  <div class="submit">
    <%= form.submit class: "submit-input" %>
  </div>

<% end %>
</div>