<div class="wrapper">
  <div class="head">
    <div class="head_title">
      <%= @task.name %>
    </div>
<div class="head_rl">
<div class="head_left">
<%= link_to '戻る', root_path, class: 'link' %>
</div>
<div class="head_right">
</div>
</div>
</div>
</div>

<br>
<%= form_with(model: @task, url: update_blockname_task_path(@task), local: true, method: :patch) do |form| %>
  <div class="name">
    <%= form.label :blockname, "ブロック名1(最大50文字)" %>
    <%= form.text_field :blockname, class: "blockname-input", maxlength: 50 %>
  </div>
  
  <div class="name">
    <%= form.label :blockname2, "ブロック名2(最大50文字)" %>
    <%= form.text_field :blockname2, class: "blockname-input", maxlength: 50 %>
  </div>

  <div class="name">
    <%= form.label :blockname3, "ブロック名3(最大50文字)" %>
    <%= form.text_field :blockname3, class: "blockname-input", maxlength: 50 %>
  </div>

  <div class="submit">
    <%= form.submit "更新" %>
  </div>
<% end %>