<div class="wrapper">
<div class="head">

<%= link_to 'スケジュール', root_path, class: 'head_title' %>
<div class="head_rl">

<div class="head_left">
<%= link_to '予定の追加', new_task_path, class: 'link' %>
</div>

<div class="head_right">
<%= link_to 'カレンダー表示', tasks_path(view: 'month'), class: 'link' %>
<%= link_to 'ガント表示', tasks_path(view: 'week'), class: 'link' %>
</div>
</div>
</div>
</div>

<% if @view == 'week' %>
  <%= week_calendar do |date| %>
    <%= date.day %>
    <% @tasks_by_date[date].each do |task| %>
  <div class="tooltips">
    <%= link_to task.name, task_path(task), class: "taskname blockname" %>
    <span class="tooltiptext"><%= task.blockname %></span>
  </div>
<% end %>
 <% end %>
<% else %>
  <%= month_calendar do |date| %>
    <%= date.day %>
    <% @tasks_by_date[date].each do |task| %>
      <%= link_to task.name, task_path(task), class: "taskname" %>
    <% end %>
  <% end %>
<% end %>


