<div class="wrapper">
<div class="head">
<%= link_to '予定の追加', new_task_path, class: 'head_title' %>
<div class="head_rl">
<div class="head_left">
<%= link_to '戻る', root_path, class: 'link' %>
</div>
<div class="head_right">
</div>
</div>
</div>


<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@task.errors.count, "エラー") %> が発生しました</h2>

    <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  
<% end %>
</div>

<div class="forms">

<%= form_with(model: @task, local: true) do |form| %>


<br>
  <div class="name">
    <%= form.label :件名 %>
    <%= form.text_field :name, class: "name-input" %>
  </div>

    <div class="start_date">
    <%= form.label :開始 %>
    <%= form.date_select :start_date, class: "start-date-select" %>
  </div>

  <div class="end_date">
    <%= form.label :終了 %>
   <%= form.date_select :end_date, class: "end-date-select" %>
  </div>

  <div class="memo">
  <%= form.label :メモ %>
  <%= form.text_field :memo, class: "memo-field" %>
</div>

<br>

  <div class="submit">
    <%= form.submit class: "submit-input" %>
  </div>

<% end %>
</div>
