<div class="main">
  <div class="calendar-heading">

    <%= link_to t('simple_calendar.previous', default: '＜＜'), previous_month_tasks_path(start_date: @start_date) %>
    <% if calendar.number_of_weeks == 1 %>
      <span class="calendar-title"><%= start_date.year %>年  <%= t('date.month_names')[start_date.month] %></span>
    <% else %>
      <span class="calendar-title"><%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %> - <%= calendar.end_week %></span>
    <% end %>
    <%= link_to t('simple_calendar.next', default: '＞＞'), next_month_tasks_path(start_date: @start_date) %>
  </div>
<div class="gantt-chart">
<table class="gantt-chart" style="table-layout: fixed;">
    <thead>
    <tr>
      <th class="item-column">項目</th>
        <% (0..30).each do |wday| %>
            <% day = @start_date + wday.days %>
            <th class="<%= 'today' if day == Date.today %>">
              <%= day.day %><br><%= l(day, format: "%a", locale: :ja) %>
            </th>
        <% end %>
    </tr>
</thead>

     <tbody>
        <% @tasks.each_with_index do |task, index| %>
          <tr class="<%= index.even? ? 'even-row' : 'odd-row' %>">
            <td class="sticky-cell">
             <%= link_to truncate_name(task.name), task_path(task), class: "taskname" %> <!-- ここでtasknameをリンクとして表示 -->
            </td>
            <% (0..30).each do |wday| %>
  <td class="<%= 'task' if task.start_date <= (@start_date + wday.days) && task.end_date >= (@start_date + wday.days) %> <%= 'custom-td' unless task.start_date <= (@start_date + wday.days) && task.end_date >= (@start_date + wday.days) %>">
    <% day = @start_date + wday.days %>
    <% if task.start_date == day %>
  <%= link_to task.blockname || '', edit_blockname_task_path(task), class: "block-link" %> 
  <%= link_to task.blockname2 || '', edit_blockname_task_path(task), class: "block-link" %>
  <%= link_to task.blockname3 || '', edit_blockname_task_path(task), class: "block-link" %>
      
    <% end %>
  </td>
<% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>